<div class="file-field md-form">
    <div class="btn btn-primary btn-sm waves-light" mdbWavesEffect>
      <span>Choose file</span>
      <!--<input type="file" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">-->
      <input type="file" mdbFileSelect>
    </div>
    <div class="file-path-wrapper">
      <!--<input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">-->
      <input class="file-path" type="text" placeholder="Upload your file">
    </div>
</div>
