<!--<main style="padding-top: 3.9rem;">
    <div class="container" style="margin: 0 !important;">
      <div class="row">
        <div class="col-lg-12" align="center">
<mdb-carousel [isControls]="true" [animation]="'slide'" >
    <mdb-slide *ngFor="let Carousel of uploadList">
        <div style="width: 100vw; height: 90.5vh !important;">
            <img class="img-fluid" onerror="imgError(this);"
            alt="Responsive image" src= {{Carousel.url}}}>

            <video onerror="videoError(this);" align="center"
            src= {{Carousel.url}}} controls style="width: 100vw auto; height: 90.5vh;"></video>
        </div>
    </mdb-slide>
</mdb-carousel>
        </div>
      </div>
    </div>
</main>-->